---
import fetchApi from "../../lib/strapi";
import type Portofolio from "../../interfaces/portofolio";
import Layout from "../../layouts/Layout.astro";
import "../../styles/portofolio.scss";
import Navbar from "../../components/Navbar.astro";

const portofolios = await fetchApi<Portofolio[]>({
  endpoint: 'portofolios?populate=thumbnail',
  wrappedByKey: 'data',
});

---

<Layout>
  <Navbar portfolio="active" />
  <section id="dynamic-porto">
    <section
      id="porto-hero-container"
      class="d-flex justify-content-center pt-10"
    >
      <div class="d-flex flex-column align-items-center">
        <h1 class="text-light display-1 fw-bold">UI/UX Design</h1>
        <p class="px-4-md text-light fs-5 text-center">
          Experience seamless user interfaces and intuitive user experiences that elevate digital interactions
        </p>
      </div>

      <div id="porto-blur"></div>
    </section>

    <section
      id="dynamic-porto-item-container"
      class="d-flex flex-wrap justify-content-lg-evenly px-lg-4 column-gap-lg-2 gap-4 justify-content-center"
    >
    {portofolios.map((portofolio, id) => {
      if (portofolio.attributes.category !== "UI/UX Design") {
        return;
      } else {
        return (
          <div
            id="porto-card-container"
            class="d-flex justify-content-center d-md-block"
          >
            <div id="porto-card" class="d-flex flex-column">
              <img src={portofolio.attributes.thumbnailurl} />
              <h2 class="fw-bold mt-2 fs-4 text-truncate">{portofolio.attributes.title}</h2>
              <p class="opacity-75">by {portofolio.attributes.author}</p>
              <div class="d-flex justify-content-between mt-4 mb-3">
                <p
                  class="p-2 fs-porto-custom fw-bold align-self-center"
                  style="border-radius: 1.5rem;
                    background: var(--aa-300, #E70FEB);"
                >
                  {portofolio.attributes.category}
                </p>
                <p class="p-2 fs-6 fw-bold">{portofolio.attributes.date}</p>
              </div>
              <button class="fw-bold fs-5">
                <a class="fw-bold fs-5" href={portofolio.attributes.link} target="_blank">
                  See Project</a>
              </button>
            </div>
          </div>
        );
      }
    })}
    </section>
  </section>
</Layout>
