---
import Layout from "../layouts/Layout.astro";
import '../styles/owl.carousel.min.css';
import '../styles/styles.css';
import herobackground from "../assets/images/communities-pages-hero.png"
import agriux1 from "../assets/images/communities-agriux-1.png"
import agriux2 from "../assets/images/communities-agriux-2.png"
import agriux3 from "../assets/images/communities-agriux-3.png"
import agriux4 from "../assets/images/communities-agriux-4.png"
import agriux5 from "../assets/images/communities-agriux-5.png"
import agriux6 from "../assets/images/communities-agriux-6.png"
import "../styles/Communities.scss"
---

<Layout>
    <div class="background-image">
        <div class="communities-hero pb-3">
            <div class="col-10 col-lg-9 mx-auto">
                <div class="text-center pt-5 mb-5">
                    <img src="../../public/logo-agriux.svg" alt="logo-agriux" style="width: 15rem;">
                    <h1 class="mt-3 mb-3" style="color: white;">Agriux</h1>
                    <p style="color: white;">AgriUX adalah komunitas yang bergerak di bidang keahlian UI/UX Design. Bidang UI/UX Design merupakan bidang yang berfokus pada pengalaman pengguna saat berinteraksi dengan suatu produk digital. AgriUX bertujuan sebagai tempat bagi mahasiswa menyalurkan minatnya, dan menfasilitasi anggota komunitas untuk meningkatkan skillnya di bidang UI/UX Design</p>
                </div>
            </div>
        </div>
        <div class="communities-information">
        <div class="" style="gap: 5rem; display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="jadwal-meet col-10 col-md-7 col-lg-4" style="">
                <h2 class="ms-5 px-3 py-1 d-inline-flex text-white" style="transform: translateY(2rem); border-radius: 15px 50px 15px 15px; background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); width: fit-content;">Jadwal meet</h2>
                <div class="jadwal-inside text-center border" style="height: 15rem; display: flex; justify-content: center; align-items: center; flex-direction: column; border-radius: 2.5rem 9.375rem 2.5rem 2.5rem; background-color: white">
                    <h2>Setiap Rabu</h2>
                    <h2>18.30-20.00</h2>
                    <h2>RKU 2.01</h2>
                </div>
            </div>
            <div class="benefit col-10 col-md-7 col-lg-4" style="">
                <h2 class="ms-5 px-3 py-1 d-inline-flex text-white" style="transform: translateY(2rem);border-radius: 15px 50px 15px 15px; background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); width: fit-content;">Benefit</h2>
                <div class="benefit-inside border" style="height: 15rem;  display: flex; justify-content: center; align-items: center; flex-direction: column; border-radius: 2.5rem 9.375rem 2.5rem 2.5rem; background-color: white;">
                    <ul>
                        <li>Knowledge about Design Thinking</li>
                        <li>Improve skills in how to use Figma</li>
                        <li>Find your career in UI/UX Industry</li>
                        <li>Get your first achievement in UI/UX Competition</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dokumentasi mt-5">
            <h2 class="text-center mb-5 fw-bold" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Lens on Our Community</h2>
            <div class="dokumentasi-foto text-center mb-5 d-flex flex-wrap" style="gap: 1rem; justify-content: center;">
                <img src={agriux1} alt="agriux1" class="col-8 col-md-4 col-lg-3">
                <img src={agriux2} alt="agriux2" class="col-8 col-md-4 col-lg-3">
                <img src={agriux3} alt="agriux3" class="col-8 col-md-4 col-lg-3">
                <img src={agriux4} alt="agriux4" class="col-8 col-md-4 col-lg-3">
                <img src={agriux5} alt="agriux5" class="col-8 col-md-4 col-lg-3">
                <img src={agriux6} alt="agriux6" class="col-8 col-md-4 col-lg-3">
            </div>
            <div class="dokumentasi-contactperson text-center">
                <p class="text-b-b300 fw-bold">Contact person: 089513348202 (Raka)</p>
                <p class="text-b-b300 fw-bold" style="display: flex; gap: 1rem; justify-content: center;"><i class="fa-brands fa-instagram" style="font-size: 25px;"></i> <i class="fa-brands fa-linkedin" style="font-size: 25px;"></i> <i class="fa-brands fa-youtube" style="font-size: 25px;"></i></p>
            </div>
        </div>
        <div class="explore">
            <h2 class="text-center mb-5 fw-bold" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Explore different communities</h2>
            <div class="explore-logo d-flex flex-wrap mx-5" style="justify-content: center; gap: 2rem;">
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-csi.svg" alt="logo-csi">
                </div>
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-agribot.svg" alt="logo-agribot">
                </div>
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-cp.svg" alt="logo-cp">  
                </div>
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-iwdc.svg" alt="logo-iwdc">
                </div>
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-mad.svg" alt="logo-mad">
                </div>
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-gary.svg" alt="logo-gary">
                </div>
                <div class="logo-card col-8 col-md-6 col-lg-3 text-center border border-3 border-b-b300 py-3" style="border-radius: 35px;">
                    <img src="../../public/logo-daming.svg" alt="logo-daming">
                </div>
            </div>
        </div>
    </div>
    </div>
</Layout>
