---
import Layout from "../layouts/Layout.astro";
import "../styles/portofolio.scss";
import porto_image from "../assets/images/porto-placeholder.png";

const porto_container = [
  {
    sectionID: "CTF-write-up",
    header: "CTF Write Up",
    paragraph:
      "Dive into our comprehensive write-ups, documenting our journey and insights from various capture the flag competitions.",
  },
  {
    sectionID: "daming-notebook",
    header: "Daming Notebook",
    paragraph:
      "Delve into data stories. From insights to trends, explore the journey of data through our interactive notebooks.",
  },
  {
    sectionID: "game-dev",
    header: "Game Dev",
    paragraph:
      "Immerse yourself in captivating gaming experiences brought to life through our creative game development endeavors.",
  },
  {
    sectionID: "hall-of-algorithm",
    header: "Hall Of Algorithm",
    paragraph:
      "Discover elegant solutions that power modern tech. Uncover the magic of algorithms reshaping our digital world.",
  },
  {
    sectionID: "mobile-dev",
    header: "Mobile Dev",
    paragraph:
      "Crafting mobile experiences. We blend creativity and code to build seamless, pocket-sized solutions for today's challenges.",
  },
  {
    sectionID: "uiux-design",
    header: "UI/UX Design",
    paragraph:
      "Experience seamless user interfaces and intuitive user experiences that elevate digital interactions",
  },
  {
    sectionID: "web-dev",
    header: "Web Dev",
    paragraph:
      "Browse through our web development projects, where we craft stunning websites that make a lasting impression.",
  },
];

const porto_card = [
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "Internal Project",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "Internal Project",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "Internal Project",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "Internal Project",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "Internal Project",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "Internal Project",
    date: "Nov 2022",
    link: "#",
  },
];
---

<Layout>
  <section
    id="porto-hero-container"
    class="d-flex justify-content-center py-10"
  >
    <div class="d-flex flex-column align-items-center">
      <h1 class="text-light display-1 fw-bold">Portfolio</h1>
      <p class="px-4-md text-light fs-5 text-center">
        Dive into our portfolio and witness the stunning work our community
        members have produced.
      </p>
      <br />
    </div>
  </section>
  
  
  <section id="porto-item-container">
    <div id="item-link-container" class="d-md-flex justify-content-md-center px-4-md">
      <div id="item-link" class="d-md-flex flex-md-wrap justify-content-md-center column-gap-md-2">
        <div id="item">
          <a href="#CTF-write-up">
            <p>CTF Write Up</p>
          </a>
        </div>
        <div id="item">
          <a href="#daming-notebook">
            <p>Daming Notebook</p>
          </a>
        </div>
        <div id="item">
          <a href="#game-dev">
            <p>Game Dev</p>
          </a>
        </div>
        <div id="item">
          <a href="#hall-of-algorithm">
            <p>Hall Of Algorithms</p>
          </a>
        </div>
        <div id="item">
          <a href="#mobile-dev">
            <p>Mobile Dev</p>
          </a>
        </div>
        <div id="item">
          <a href="#uiux-design">
            <p>UI/UX Design</p>
          </a>
        </div>
        <div id="item">
          <a href="#web-dev">
            <p>Web Dev</p>
          </a>
        </div>
      </div>
    </div>
    {
      porto_container.map((porto, id) => {
        return (
          <section id="porto-container">
            <section id={porto.sectionID} >
              <div class="d-flex justify-content-between justify-content-md-around align-items-center">
                <div id="porto-header">
                  <h2 class="fs-4 fw-bold">{porto.header}</h2>
                  <p class="fw-normal">{porto.paragraph}</p>
                </div>
                <div id="porto-button" style="cursor: pointer;">
                  <a class="showToast fw-bold py-4 px-5">View All</a>
                </div>
              </div>

              <div id="porto-card-wrapper" class="py-5 d-md-flex flex-md-wrap justify-content-md-center
              gap-md-4">
                {
                  porto_card.map((porto, id) => {
                  return (
                    <div id="porto-card-container">
                      <div id="porto-card" class="d-flex flex-column">
                        <img src={porto.image} />
                        <h2 class="fw-bold mt-2 fs-4">{porto.title}</h2>
                        <p class="opacity-75">by {porto.author}</p>
                        <div class="d-flex justify-content-between mt-4 mb-3">
                          <p
                            class="p-2 fs-porto-custom fw-bold align-self-center"
                            style="border-radius: 1.5rem;
                                  background: var(--aa-300, #E70FEB);"
                          >
                            {porto.category}
                          </p>
                          <p class="p-2 fs-6 fw-bold">{porto.date}</p>
                        </div>
                        <button class="showToast fw-bold fs-5">
                          See Project
                        </button>
                      </div>
                    </div>
                  );
                })}
              </div>
            </section>
          </section>
        );
      })
    }
  </section>
</Layout>
