---
import Layout from "../layouts/Layout.astro";
import "../styles/portofolio.scss";
import porto_image from '../assets/icons/hero-figma.svg'

const porto_container = [
  {
    sectionID: "CTF-write-up",
    header: "CTF Write Up",
    paragraph:
      "Dive into our comprehensive write-ups, documenting our journey and insights from various capture the flag competitions.",
  },
  {
    sectionID: "daming-notebook",
    header: "Daming Notebook",
    paragraph:
      "Delve into data stories. From insights to trends, explore the journey of data through our interactive notebooks.",
  },
  {
    sectionID: "game-dev",
    header: "Game Dev",
    paragraph:
      "Immerse yourself in captivating gaming experiences brought to life through our creative game development endeavors.",
  },
  {
    sectionID: "hall-of-algorithm",
    header: "Hall Of Algorithm",
    paragraph:
      "Discover elegant solutions that power modern tech. Uncover the magic of algorithms reshaping our digital world.",
  },
  {
    sectionID: "mobile-dev",
    header: "Mobile Dev",
    paragraph:
      "Crafting mobile experiences. We blend creativity and code to build seamless, pocket-sized solutions for today's challenges.",
  },
  {
    sectionID: "uiux-design",
    header: "UI/UX Design",
    paragraph:
      "Experience seamless user interfaces and intuitive user experiences that elevate digital interactions",
  },
  {
    sectionID: "web-dev",
    header: "Web Dev",
    paragraph:
      "Browse through our web development projects, where we craft stunning websites that make a lasting impression.",
  },
];

const porto_card = [
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "writeup",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "writeup",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "writeup",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "writeup",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "writeup",
    date: "Nov 2022",
    link: "#",
  },
  {
    image: porto_image,
    title: "Carepal",
    author: "dhikarfi",
    category: "writeup",
    date: "Nov 2022",
    link: "#",
  },
];
---

<Layout>
  <section id="porto-hero-container" class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <h1 class="display-1 fw-bold">Portfolio</h1>
      <p class="fs-5 text-center">
        Dive into our portfolio and witness the stunning work our community
        members have produced.
      </p>
    </div>
  </section>

  <section id="porto-item-container">
    <div id="item-link">
      <div id="item">
        <p>CTF Write Up</p>
      </div>
      <div id="item">
        <p>Daming Notebook</p>
      </div>
      <div id="item">
        <p>Game Dev</p>
      </div>
      <div id="item">
        <p>Hall Of Algorithms</p>
      </div>
      <div id="item">
        <p>Mobile Dev</p>
      </div>
      <div id="item">
        <p>UI/UX Design</p>
      </div>
      <div id="item">
        <p>Web Dev</p>
      </div>
    </div>
    {
      porto_container.map((porto, id) => {
        return (
          <section id="porto-container">
            <section id={porto.sectionID}>
              <div class="d-flex justify-content-around align-items-center">
                <div id="porto-header">
                  <h2>{porto.header}</h2>
                  <p>{porto.paragraph}</p>
                </div>
                <div id="porto-button">
                  <a class="showToast py-4 px-5">View All</a>
                </div>
              </div>

              <div id="porto-card-container" class="py-5">
                {porto_card.map((porto, id) => {
                  return (
                    <div id="porto-card-container">
                      <div id="porto-card">
                        <img src={porto.image}>
                        <h2>{porto.title}</h2>
                        <h2>{porto.author}</h2>
                        <h2>{porto.date}</h2>
                        <h2>{porto.category}</h2>
                      </div>
                    </div>
                  );
                })}
              </div>
            </section>
          </section>
        );
      })
    }
  </section>
</Layout>
