---
import fetchApi from "../lib/strapi";
import type Achievement from "../interfaces/achievement";

const achievements = await fetchApi<Achievement[]>({
  endpoint: 'achievements?populate=image',
  wrappedByKey: 'data',
});

achievements.sort((a, b) => new Date(b.attributes.date).getTime() - new Date(a.attributes.date).getTime());
---

<div class="text-center">
  <h1 class="text-a-a500 px-md-5 pt-5 fw-bold display-5 mx-4">
    Celebrating <span class="text-b-b300">Remarkable Milestones!</span>
  </h1>
</div>

<div class="text-center">
    <h2 class="text-a-a500 fw-bold fs-3 my-4" style="width: 60%; margin: auto;">
      Explore the <span class="text-b-b300">outstanding achievements</span> of our
      community members that inspire excellence.
    </h2>
</div>

<section id="slider" class="pt-5">
  <div class="container">
    <div class="slider">
      <div class="owl-carousel">
        {
          achievements
          .map((achievement) => (
          <div class="slider-card">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <img src={achievement.attributes.imageurl} style="object-fit: cover; max-height: 200px;" alt="" />
            </div>
            <h5 class="mb-0 text-center">
              <b>{achievement.attributes.award} <br /> {achievement.attributes.subcompetition}</b>
            </h5>
            <p class="text-center fw-medium fs-4 pt-4" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;" >{achievement.attributes.name}</p>
            <p class="text-center fs-5 fw-semibold pb-4">{achievement.attributes.competition}</p>
          </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<div class="allachievements d-flex justify-content-center">
  <button type="button" class="showToast btn btn-primary-p100 custom-btn mb-5 fs-3 fw-bold px-4 py-3">See All Achievements</button>
</div>