---
import { getCollection } from "astro:content";

const achievements = await getCollection("achievements");
achievements.sort((a, b) => Date.parse(b.data.publishedDate) - Date.parse(a.data.publishedDate));
---

<div class="text-center">
  <h1 class="text-a500 px-md-5 pt-5 fw-bold fs-1 mx-4">
    Celebrating <span class="text-b300">Remarkable Milestones!</span>
  </h1>
</div>

<div class="row text-center">
  <div class="col"></div>
  <div class="col-md-8">
    <h2 class="text-a500 fw-bold fs-3 my-3 mx-5 mx-md-0">
      Explore the <span class="text-b300">outstanding achievements</span> of our
      community members that inspire excellence.
    </h2>
  </div>
  <div class="col"></div>
</div>

<section id="slider" class="pt-5">
  <div class="container">
    <div class="slider">
      <div class="owl-carousel">
        {
          achievements
          .slice(0,3)
          .map((achievement) => (
          <div class="slider-card">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <img src={`/${achievement.data.imageSrc}`} alt="" />
            </div>
            <h5 class="mb-0 text-center">
              <b>{achievement.data.award} <br /> {achievement.data.competition}</b>
            </h5>
            <p class="text-center fw-medium fs-4 pt-4" style="background: linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;" >{achievement.data.team}</p>
            <p class="text-center fs-5 fw-semibold pb-4">{achievement.data.event}</p>
          </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<div class="allachievements d-flex justify-content-center">
  <button type="button" class="btn btn-p100 custom-btn mb-5 fs-3 fw-bold px-4 py-3">See All Achievements</button>
</div>