---
import { getCollection } from "astro:content";
import EventCard from "./EventCard.astro";
const events = await getCollection("events");

const today = new Date();
const formattedToday = today.toISOString().split('T')[0];
---

<div id="eventSection" class="px-5 py-5">
  <h1 class="text-center fw-bold">
    <span class="text-a-a500">Join Our</span>
    <span class="text-b-b300">Exciting Events!</span>
  </h1>

  <h4 class="my-4 text-center fw-bold">
    <span class="text-a-a500">Experience the thrill of participating in</span>
    <span class="text-b-b300">our engaging events</span><span
      class="text-a-a500">, where knowledge and fun come together.</span
    >
  </h4>

  <div
    id="eventCard"
    class="mx-xs-0 my-xs-0 mx-sm-5 my-sm-3 mx-md-0 my-md-0 my-lg-5 px-xl-3 mx-xl-3 px-xxl-5 mx-xxl-5"
  >
    <div
      class="row justify-content-center px-4 px-md-0 py-md-4 px-lg-5 py-lg-3 gx-md-5 gy-md-1 gx-lg-4"
    >

      {events.length === 0 && <p>Events coming soon... Stay tuned 👀!</p>}
   
      {
        events.length !== 0 &&
          events
            .filter((project) => project.data.isHighlighted)
            .slice(0, 4)
            .map((event) => {
              const formattedEventDate = event.data.eventDate.toISOString().split('T')[0];
              const isUpcoming = (formattedEventDate >= formattedToday);

              // Truncate description and add ellipses
              const truncatedDescription =
                event.data.description.length > 70
                  ? event.data.description.slice(0, 70) + '...'
                  : event.data.description;

              return (
                <EventCard
                  title={event.data.title}
                  description={truncatedDescription}
                  eventDate={event.data.eventDate}
                  isUpcoming={isUpcoming}
                  image={event.data.image}
                  slug={event.slug}
                />
              );
            })
      }

    </div>
  </div>

  <div class="text-center mt-4">
    <a>
      <button class="showToast btn btn-lg btn-primary-p100 text-white fw-bold">
        See More
      </button>
    </a>
  </div>
</div>
