---
import agribot from '../../logo_agribot.png'
import agriux from '../../logo_agriux.png'
import cp from '../../logo_cp.png'
import daming from '../../logo_daming.png'
import gary from '../../logo_gary.png'
import iwdc from '../../logo_iwdc.png'
import mad from '../../logo_mad.png'
import csi from '../../logo_csi.png'
import agriuxweeklymeeting from '../../AgriuxWeeklyMeeting.png'
import agribotweeklymeeting from '../../AgribotWeeklyMeeting.png'
import cpweeklymeeting from '../../CpWeeklyMeeting.png'
import csiweeklymeeting from '../../CsiWeeklyMeeting.png'
import damingweeklymeeting from '../../DamingWeeklyMeeting.png'
import garyweeklymeeting from '../../GaryWeeklyMeeting.png'
import iwdcweeklymeeting from '../../IwdcWeeklyMeeting.png'
import madweeklymeeting from '../../MadWeeklyMeeting.png'
---

<div class="col">
    <div class="text-center">
        <h3 class="text-primary mt-3" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Weekly Meeting</h3>
        <h4 class="mt-3" style="background : #EDA20F; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Stay connected! <br> Check out our Community Meeting Schedule.</h4>
    </div>
    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide mx-auto mt-5 mb-5" data-bs-ride="carousel" style="width: 80%;">
        <div class="carousel-border" style="border-radius: 2.5rem 12.5rem 2.5rem 2.5rem;">
            <div class="carousel-inner" style="border-radius: 2.5rem 12.5rem 0rem 0rem; background: white;">
          <div class="carousel-item active">
            <div class="row align-items-start">
                <div class="col">
                    <div class="img-border">
                        <img src={agriuxweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                    </div>
                </div>
                <div class="col">
                    <div class="container mx-1 mx-md-3">
                        <div class="mt-5 mb-4">
                            <img src={agriux} alt="agriuxlogo" style="width: 30%;">
                        </div>
                        <div class="mb-5 pe-5">
                            <h5 class="fw-bold fs-1">AgriUX</h5>
                        </div>
                        <div class="">
                            <p class="fw-semibold fs-2">RKU 2.01 (FMIPA) <br> Rabu, 18:30 WIB</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={damingweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3">
                      <div class="mt-5 mb-4">
                          <img src={daming} alt="daminglogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-5">
                          <h5 class="fw-bold fs-1">Data Mining IPB (DAMING)</h5>
                      </div>
                      <div class="">
                          <p class="fw-semibold fs-2">Localhost (Lt.4 FMIPA) <br> Sabtu, 13:00 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={csiweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3 pe-5">
                      <div class="mt-5 mb-4">
                          <img src={csi} alt="csilogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-5">
                          <h5 class="fw-bold fs-1">Cyber Security IPB (CSI)</h5>
                      </div>
                      <div class="">
                          <p class="fw-semibold fs-2">Gedung GPK Lt.2 <br> Jumat, 17:00 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={garyweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3 pe-5">
                      <div class="mt-5 mb-4">
                          <img src={gary} alt="garylogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-5">
                          <h5 class="fw-bold fs-1">Game Reality IPB (GARY)</h5>
                      </div>
                      <div class="">
                          <p class="fw-semibold fs-2">Localhost (Lt.4 FMIPA) <br> Sabtu, 10:00 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                  <div class="img-border">
                  <img src={agribotweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3">
                      <div class="mt-5 mb-4">
                          <img src={agribot} alt="agribotlogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-5">
                          <h5 class="fw-bold fs-1">Agribot</h5>
                      </div>
                      <div class="pe-1">
                          <p class="fw-semibold fs-2">Localhost (Lt.4 FMIPA) <br> Rabu, 19:30 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={iwdcweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3">
                      <div class="mt-5 mb-4">
                          <img src={iwdc} alt="iwdclogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-1">
                          <h5 class="fw-bold fs-1">IPB Web Development Community (IWDC)</h5>
                      </div>
                      <div class="pe-5">
                          <p class="fw-semibold fs-2">RKU 2.01 (FMIPA) <br> Kamis, 18:30 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={cpweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3">
                      <div class="mt-5 mb-4">
                          <img src={cp} alt="cplogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-1">
                          <h5 class="fw-bold fs-1">Competitive Programming (CP)</h5>
                      </div>
                      <div class="pe-1">
                          <p class="fw-semibold fs-2">Localhost (Lt.4 FMIPA) <br> Senin, 19:00 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={madweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col">
                  <div class="container mx-1 mx-md-3">
                      <div class="mt-5 mb-4">
                          <img src={mad} alt="madlogo" style="width: 30%;">
                      </div>
                      <div class="mb-5 pe-1">
                          <h5 class="fw-bold fs-1">Mobile Apps Development (MAD)</h5>
                      </div>
                      <div class="pe-1">
                          <p class="fw-semibold fs-2">Localhost (Lt.4 FMIPA) <br> Selasa, 18:30 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
    
        <div class="icon-bawah" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); border-color: red; border-radius: 0rem 0rem 2.5rem 2.5rem;">
          <div class="d-flex flex-wrap justify-content-center align-items-center">
            <img src={agriux} class="carousel-icon active mx-3 my-3" alt="agriux" style="width: 6.25rem" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" />
            <img src={daming} class="carousel-icon mx-3 my-3" alt="daming" style="width: 6.25rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" />
            <img src={csi} class="carousel-icon mx-3 my-3" alt="csi" style="width: 6.25rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"/>
            <img src={gary} class="carousel-icon mx-3 my-3" alt="gary" style="width: 6.25rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"/>
            <img src={agribot} class="carousel-icon mx-3 my-3" alt="agribot" style="width: 6.25rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"/>
            <img src={iwdc} class="carousel-icon mx-3 my-3" alt="iwdc" style="width: 6.25rem" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"/>
            <img src={cp} class="carousel-icon mx-3 my-3" alt="cp" style="width: 6.25rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"/>
            <img src={mad} class="carousel-icon mx-3 my-3" alt="mad" style="width: 6.25rem;" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"/>
          </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="height: 80%;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="height: 80%;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
      </div>
</div>

<script>
   function highlightIcon(index) {
    const carouselIcons = document.querySelectorAll(".carousel-icon");
    carouselIcons.forEach((icon) => {
      icon.classList.remove("active");
    });
    carouselIcons[index].classList.add("active");
  }

  const carouselIcons = document.querySelectorAll(".carousel-icon");
  carouselIcons.forEach((icon, index) => {
    icon.addEventListener("click", () => {
      highlightIcon(index);
    });
  });

  const prevButton = document.querySelector(".carousel-control-prev");
  const nextButton = document.querySelector(".carousel-control-next");

  prevButton.addEventListener("click", () => {
    const activeIndex = Array.from(carouselIcons).findIndex((icon) => icon.classList.contains("active"));

    const prevIndex = activeIndex === 0 ? carouselIcons.length - 1 : activeIndex - 1;

    highlightIcon(prevIndex);
  });

  nextButton.addEventListener("click", () => {
    const activeIndex = Array.from(carouselIcons).findIndex((icon) => icon.classList.contains("active"));

    const nextIndex = activeIndex === carouselIcons.length - 1 ? 0 : activeIndex + 1;

    highlightIcon(nextIndex);
  });

  document.querySelector('#carouselExampleCaptions').addEventListener('slid.bs.carousel', function(event) {
    const activeSlideIndex = event.to;

    highlightIcon(activeSlideIndex);
  });
</script>

<style>
  .carousel-icon {
      filter: brightness(0.5);
      border-radius: 50%;
  }
  .carousel-icon.active {
      filter: brightness(1);
      box-shadow: 0px 0px 32px 0px #FFF;
  }

</style>
