---
import { getCollection } from 'astro:content';
const komun = await getCollection('communities');
---

<div class="col">
    <div class="text-center">
        <h1 class="text-primary mt-3 display-5 fw-bold" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Weekly Meeting</h3>
        <h3 class="text-b-b300 mt-3 fs-3 fw-bold">Stay connected! <br> Check out our Community Meeting Schedule.</h4>
    </div>
    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide mx-auto mt-5 mb-5" data-bs-ride="carousel" style="width: 80%;">
        <div class="carousel-border" style="border-radius: 2.5rem 12.5rem 2.5rem 2.5rem;">
            <div class="carousel-inner" style="border-radius: 2.5rem 12.5rem 0rem 0rem; background: white;">
            {
              komun.map((jadwal,index) => (
              <div class={`carousel-item ${index === 0 ? ' active' : ''}`}>
                  <div class="row align-items-start">
                      <div class="col">
                          <div class="img-border">
                              <img src={jadwal.data.foto} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                          </div>
                      </div>
                      <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                          <div class="container mx-1 mx-md-3">
                              <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                                  <div class="mb-auto mt-5">
                                      <img src={jadwal.data.logo} alt="jadwallogo" class="img-atas">
                                      <h5 class="fw-bold fs-1 mt-4">{jadwal.data.nama}</h5>
                                  </div>
                                  <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">{jadwal.data.ruangan} ({jadwal.data.detailRuangan}) <br> {jadwal.data.hari}, {jadwal.data.jam} WIB</p>
                              </div>        
                          </div>
                      </div>
                  </div>
              </div>
              ))
            }
        </div> 
    
        <div class="icon-bawah" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); border-color: red; border-radius: 0rem 0rem 2.5rem 2.5rem;">
          <div class="d-flex flex-wrap justify-content-center align-items-center">
          {
            komun.map((logo,index) => (
            <img src={logo.data.logo} class={`logo-bawah carousel-icon mx-3 my-3${index === 0 ? ' active' : ''}`} alt={logo.slug} data-bs-target="#carouselExampleCaptions" data-bs-slide-to={index} />
            ))
          }
            </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="height: 80%;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="height: 80%;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
      </div>
</div>

<script>
   function highlightIcon(index) {
    const carouselIcons = document.querySelectorAll(".carousel-icon");
    carouselIcons.forEach((icon) => {
      icon.classList.remove("active");
    });
    carouselIcons[index].classList.add("active");
  }

  const carouselIcons = document.querySelectorAll(".carousel-icon");
  carouselIcons.forEach((icon, index) => {
    icon.addEventListener("click", () => {
      highlightIcon(index);
    });
  });

  const prevButton = document.querySelector(".carousel-control-prev");
  const nextButton = document.querySelector(".carousel-control-next");

  prevButton.addEventListener("click", () => {
    const activeIndex = Array.from(carouselIcons).findIndex((icon) => icon.classList.contains("active"));

    const prevIndex = activeIndex === 0 ? carouselIcons.length - 1 : activeIndex - 1;

    highlightIcon(prevIndex);
  });

  nextButton.addEventListener("click", () => {
    const activeIndex = Array.from(carouselIcons).findIndex((icon) => icon.classList.contains("active"));

    const nextIndex = activeIndex === carouselIcons.length - 1 ? 0 : activeIndex + 1;

    highlightIcon(nextIndex);
  });

  document.querySelector('#carouselExampleCaptions').addEventListener('slid.bs.carousel', function(event) {
    const activeSlideIndex = event.to;

    highlightIcon(activeSlideIndex);
  });
</script>

<style>
  .carousel-icon {
      filter: brightness(0.5);
      border-radius: 50%;
  }
  .carousel-icon.active {
      filter: brightness(1);
      box-shadow: 0px 0px 32px 0px #FFF;
  }

  @media screen and (max-width: 767px) {
    .jadwal-meet {
        font-size: 26px;
      }
    .img-atas {
        width: 5rem;
      }
    .logo-bawah {
      width: 4.75rem;
    }
  }

  @media screen and (min-width: 768px) {
      .jadwal-meet {
        font-size: 29px;
      }
      .img-atas {
        width: 10rem;
      }
      .logo-bawah {
        width: 6.25rem;
      }
    }

    @media screen and (min-width: 1024px) {
      .jadwal-meet {
        font-size: 38px;
      }
    }

</style>
