---
import agribot from '../../logo-agribot.svg'
import agriux from '../../logo-agriux.svg'
import cp from '../../logo-cp.svg'
import daming from '../../logo-daming.svg'
import gary from '../../logo-gary.svg'
import iwdc from '../../logo-iwdc.svg'
import mad from '../../logo-mad.svg'
import csi from '../../logo-csi.svg'
import agriuxweeklymeeting from '../../AgriuxWeeklyMeeting.png'
import agribotweeklymeeting from '../../AgribotWeeklyMeeting.png'
import cpweeklymeeting from '../../CpWeeklyMeeting.png'
import csiweeklymeeting from '../../CsiWeeklyMeeting.png'
import damingweeklymeeting from '../../DamingWeeklyMeeting.png'
import garyweeklymeeting from '../../GaryWeeklyMeeting.png'
import iwdcweeklymeeting from '../../IwdcWeeklyMeeting.png'
import madweeklymeeting from '../../MadWeeklyMeeting.png'
---

<div class="col">
    <div class="text-center">
        <h3 class="text-primary mt-3" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Weekly Meeting</h3>
        <h4 class="mt-3" style="background : #EDA20F; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; background-repeat: no-repeat;">Stay connected! <br> Check out our Community Meeting Schedule.</h4>
    </div>
    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide mx-auto mt-5 mb-5" data-bs-ride="carousel" style="width: 80%;">
        <div class="carousel-border" style="border-radius: 2.5rem 12.5rem 2.5rem 2.5rem;">
            <div class="carousel-inner" style="border-radius: 2.5rem 12.5rem 0rem 0rem; background: white;">
          <div class="carousel-item active">
            <div class="row align-items-start">
                <div class="col">
                    <div class="img-border">
                        <img src={agriuxweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                    </div>
                </div>
                <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                    <div class="container mx-1 mx-md-3">
                      <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                        <div class="mb-auto mt-5">
                          <img src={agriux} alt="agriuxlogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">AgriUX</h5>
                        </div>
                        <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">RKU 2.01 (FMIPA) <br> Rabu, 18:30 WIB</p>
                        </div>        
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={damingweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={daming} alt="daminglogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">Data Mining IPB (DAMING)</h5>
                      </div>
                        <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">Localhost (Lt.4 FMIPA) <br> Sabtu, 13:00 WIB</p>
                    </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={csiweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={csi} alt="csilogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">Cyber Security IPB (CSI)</h5>
                      </div>
                          <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">Gedung GPK Lt.2 <br> Jumat, 17:00 WIB</p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={garyweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={gary} alt="garylogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">Game Reality IPB (GARY)</h5>
                      </div>
                      <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">Localhost (Lt.4 FMIPA) <br> Sabtu, 10:00 WIB</p>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                  <div class="img-border">
                  <img src={agribotweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={agribot} alt="agribotlogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">Agribot</h5>
                      </div>
                      <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">Localhost (Lt.4 FMIPA) <br> Rabu, 19:30 WIB</p>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={iwdcweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={iwdc} alt="iwdclogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">IPB Web Development Community (IWDC)</h5>
                      </div>
                      <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">RKU 2.01 (FMIPA) <br> Kamis, 18:30 WIB</p>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={cpweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={cp} alt="cplogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">Competitive Programming (CP)</h5>
                      </div>
                      <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-4">Localhost (Lt.4 FMIPA) <br> Senin, 19:00 WIB</p>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="row align-items-start">
              <div class="col">
                <div class="img-border">
                  <img src={madweeklymeeting} class="img-fluid" alt="gambar weekly meeting" style="height: 34.5rem; width: 100%; object-fit: cover;">
                  </div>
              </div>
              <div class="col" style="height: 34.5rem; background-image: url(/oval-base-weeklymeeting.svg);">
                <div class="container mx-1 mx-md-3">
                  <div class="d-flex align-items-start flex-column" style="height: 34.5rem;">
                      <div class="mb-auto mt-5">
                          <img src={mad} alt="madlogo" class="img-atas">
                          <h5 class="fw-bold fs-1 mt-4">Mobile Apps Development (MAD)</h5>
                      </div>
                      <p class="jadwal-meet mt-auto mb-1 mb-md-3 mb-lg-5 fw-semibold me-2">Localhost (Lt.4 FMIPA) <br> Selasa, 18:30 WIB</p>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
    
        <div class="icon-bawah" style="background: var(--grad-a, linear-gradient(90deg, #0F18ED 0%, #E70FEB 100%)); border-color: red; border-radius: 0rem 0rem 2.5rem 2.5rem;">
          <div class="d-flex flex-wrap justify-content-center align-items-center">
            <img src={agriux} class="logo-bawah carousel-icon active mx-3 my-3" alt="agriux" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" />
            <img src={daming} class="logo-bawah carousel-icon mx-3 my-3" alt="daming" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" />
            <img src={csi} class="logo-bawah carousel-icon mx-3 my-3" alt="csi" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"/>
            <img src={gary} class="logo-bawah carousel-icon mx-3 my-3" alt="gary" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"/>
            <img src={agribot} class="logo-bawah carousel-icon mx-3 my-3" alt="agribot" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"/>
            <img src={iwdc} class="logo-bawah carousel-icon mx-3 my-3" alt="iwdc" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"/>
            <img src={cp} class="logo-bawah carousel-icon mx-3 my-3" alt="cp" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"/>
            <img src={mad} class="logo-bawah carousel-icon mx-3 my-3" alt="mad" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"/>
          </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="height: 80%;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="height: 80%;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
      </div>
</div>

<script>
   function highlightIcon(index) {
    const carouselIcons = document.querySelectorAll(".carousel-icon");
    carouselIcons.forEach((icon) => {
      icon.classList.remove("active");
    });
    carouselIcons[index].classList.add("active");
  }

  const carouselIcons = document.querySelectorAll(".carousel-icon");
  carouselIcons.forEach((icon, index) => {
    icon.addEventListener("click", () => {
      highlightIcon(index);
    });
  });

  const prevButton = document.querySelector(".carousel-control-prev");
  const nextButton = document.querySelector(".carousel-control-next");

  prevButton.addEventListener("click", () => {
    const activeIndex = Array.from(carouselIcons).findIndex((icon) => icon.classList.contains("active"));

    const prevIndex = activeIndex === 0 ? carouselIcons.length - 1 : activeIndex - 1;

    highlightIcon(prevIndex);
  });

  nextButton.addEventListener("click", () => {
    const activeIndex = Array.from(carouselIcons).findIndex((icon) => icon.classList.contains("active"));

    const nextIndex = activeIndex === carouselIcons.length - 1 ? 0 : activeIndex + 1;

    highlightIcon(nextIndex);
  });

  document.querySelector('#carouselExampleCaptions').addEventListener('slid.bs.carousel', function(event) {
    const activeSlideIndex = event.to;

    highlightIcon(activeSlideIndex);
  });
</script>

<style>
  .carousel-icon {
      filter: brightness(0.5);
      border-radius: 50%;
  }
  .carousel-icon.active {
      filter: brightness(1);
      box-shadow: 0px 0px 32px 0px #FFF;
  }

  @media screen and (max-width: 767px) {
    .jadwal-meet {
        font-size: 26px;
      }
    .img-atas {
        width: 5rem;
      }
    .logo-bawah {
      width: 4.75rem;
    }
  }

  @media screen and (min-width: 768px) {
      .jadwal-meet {
        font-size: 29px;
      }
      .img-atas {
        width: 10rem;
      }
      .logo-bawah {
        width: 6.25rem;
      }
    }

    @media screen and (min-width: 1024px) {
      .jadwal-meet {
        font-size: 38px;
      }
    }

</style>
